page-google-login {
    .google
    {
        background: url('../img/signup.jpg');
        background-size:cover;
    }
    .login
    {
        height:60px!important;
        border-radius:10px;     
    }

}
